{
  "trailingComma": "all",
  "tabWidth": 4,
  "semi": false,
  "arrowParens": "always",
  "overrides": [
    {
      "files": [".prettierrc", "*.json"],
      "options": { "parser": "json", "tabWidth": 2 }
    }
  ]
}
